<script setup>
import Background from '@/components/Home/Background.vue';
</script>
<template>
  <div
    class="container isolate px-8 mx-auto w-full max-w-full min-h-screen max-h-screen bg-white lg:px-20 dark:bg-surface-900/50">
    <Background />
    <Content />
  </div>
</template>
