/* Table of Contents */
.table-of-contents ul {
  @apply list-none;
}

@media screen(xl) {
  .table-of-contents {
    @apply hidden;
  }
}

.kbd {
  background: linear-gradient(-225deg, theme("colors.gray.300") 0%, theme("colors.stone.50") 100%);
  box-shadow:
    inset 0 -2px 0 0 theme("colors.slate.300"),
    inset 0 0 1px 1px theme("colors.white"),
    0 1px 2px 1px rgba(30 35 90 / 0.4);
}
.dark {
  .kbd {
    background: linear-gradient(-225deg, theme("colors.surface.700") 0%, theme("colors.surface.500") 100%);
    box-shadow:
      inset 0 -2px 0 0 theme("colors.surface.800"),
      inset 0 0 1px 1px theme("colors.surface.500"),
      0 1px 2px 1px theme("colors.surface.950/40");
  }
}
